@model FitnessUygulamasi.Models.Appointment
@{
    ViewData["Title"] = "Randevu Al";
}

<h2>Randevu Al</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group mb-3">
                <label class="control-label">Antrenör</label>
                <select asp-for="TrainerId" class="form-control" asp-items="ViewBag.TrainerId"></select>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Hizmet</label>
                <select asp-for="ServiceId" class="form-control" asp-items="ViewBag.ServiceId"></select>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Tarih</label>
                <input asp-for="Date" class="form-control" type="datetime-local" />
            </div>
            <div class="form-group">
                <input type="submit" value="Randevu Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>